@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "FinTrack_Theme";
  default: true;
  --color-primary: #2563EB; 
  --color-secondary: #10B981; 
  --color-accent: #0F172A; 
  --color-neutral: #1E293B;
  --color-base-100: #FFFFFF;
}